TELEGRAM_BOT_TOKEN=
OPENAI_API_KEY=
NODE_ENV=
LOG_LEVEL=
MAX_AUDIO_SIZE=
TEMP_AUDIO_DIR=
DATABASE_PATH=
MONGODB_URI=
FREE_TIER_DAILY_TOKENS=
FREE_TIER_MONTHLY_TOKENS=
ELEVEN_LABS_API_KEY_ALEX_SERBINOV_DCI=
ELEVEN_LABS_API_KEY=
GOOGLE_GEMINI_API_KEY=
SERVER_PORT=
WEBAPP_URL=
SONIOX_API_KEY=
TRANSLATION_PROVIDER=
GROQ_API_KEY=